<h1 class="text-center"> Search Twitter handles below:</h1>
<div class='row justify-content-center'> 
  <div class="col"> 
  </div>
  <div class="col-sm-6 col-sm-offset-3 text-center">
    <%= form_tag("results", method: "get",  :class => "form-inline") do %>
      <%= text_field_tag(:search, "", {:class => 'form-control', :required=> true, :placeholder => '@'})%>
      <%= submit_tag("Search", {:class => 'btn btn-primary'}) %>
    <% end %>
    <%= link_to 'Surprise Me!', {:controller => "twitter", :action => "results", :search   => @surprise}, {:class => 'btn'} %> 
  </div>
  <div class="col"> 
  </div>
</div>



