<% if @tweets %>
<%= react_component('TweetList',{:tweets=> @tweets, :handle => @handle, :user=> @user})%>
<% else %>
<div class="row text-center">
<p class="text-center"> Looks like that didn't work, would you like to go back and try again?</p>
 <%= link_to 'New Search', twitter_index_url  %> </div>
<% end %>

