<% if @tweets %>
<%= react_component('TweetList',{:tweets=> @tweets, :handle => @handle})%>
<% else %>
<p> Looks like that didn't work, would you like to go back and try again?</p>
 <%= link_to 'Back', twitter_index_url  %>
<% end %>

